
// Work Category
.category {
  height: 92vh;
  max-height: 1200px;
  @include mobile{
    height: 70vh;
    max-height: 800px;
}
@include tablet{
    height: 70vh;
    max-height: 800px;
}
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.category-pictures {
  position: relative;
  @include tablet {
    height: 55%;
}   
  @include desktop {
      height: 70%;
      display: flex;
      justify-content: center;
  }
}

.category-left-picture {
  min-height: 1px;
  position: absolute;
  top: 10%;
  z-index: 51;
  background-color: white;
  object-fit: cover;
  &.portrait {
      left: 10%;
      top: 10%;
  }
  &.landscape {
      left: 0%;
      top: 20%;
  }
}

.category-center {
  cursor: pointer;
}

.category-center-picture {
  cursor: pointer;
  top: 0%;
  z-index: -1;
  min-height: 1px;
  height: 100%;
  position: relative;
  background-color: white;
  object-fit: cover;
  @include tablet {
      &.portrait {
          top: 5%;
      }
      &.landscape {
          top: 20%;
      }
      position: absolute;
      &.version-0 {
          left: 4%;
      }
      &.version-1 {
          right: 3%;
          top: 4%;
      }
      height: 120%;
  }
  @include mobile {
      width: auto;
      height: 100%;
  }
}

.is-offset-1 {
  margin-left: 8.33333% !important;
}

.is-offset-1-mobile {
  @include mobile {
      margin-left: 8.33333% !important;
  }
}

.category-right-picture {
  min-height: 1px;
  z-index: 50;
  position: absolute;
  background-color: white;
  object-fit: cover;
  top: 25%;
  @include tablet {
      .version-0 {
          top: 20%;
          right: 0%;
      }
      .version-1 {
          top: 20%;
          left: 0;
      }
  }
}

.category-content {
  height: 10vh;
  text-align: center;
  @include tablet {
      font-size: 3.5rem;
      line-height: 4.5rem;
      span:before,
      span:after {
          height: .35rem;
      }
  }
  @include desktop {
      font-size: 5rem;
      line-height: 6rem;
      span:before,
      span:after {
          height: .5rem;
      }
  }
}