
@include desktop{
// Work Category
  .category {
    height: calc(100vh - 102px);
    max-height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .category-pictures {
      position: relative;
    
      @include desktop {
          height: 80%;
          display: flex;
          justify-content: center;
      }
      .category-left-picture {
        min-height: 1px;
        cursor: pointer;
        position: absolute;
        top: 17%;
        z-index: 51;
        background-color: white;
        object-fit: cover;      
      }     
        
      .category-center-picture {
        cursor: pointer;
        top: 0%;
        z-index: -1;
        min-height: 1px;
        height: 100%;
        position: relative;
        background-color: white;
        object-fit: cover; 
      
      }
      .category-right-picture {
        cursor: pointer;
        min-height: 1px;
        z-index: 50;
        position: absolute;
        background-color: white;
        object-fit: cover;
        top: 10%;      
      }   
    }
    .category-content {
      height: 20%;

      text-align: center;
      cursor: pointer;
      font-size: 4rem;
      line-height: 5rem;
      span:before,
      span:after {
          height: .35rem;
      }
    }
  }


}
@include widescreen{
  .category {
    height: calc(100vh - 100px);
    max-height: 1200px;
  }
  .category-content {
    font-size: 5rem;
    line-height: 6rem;
    span:before,
    span:after {
        height: .5rem;
    }
  }
}

@include tablet{
  .category{
      height: 80vh;  
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;       
  }
  .category-center-picture,.category-right-picture{
    top: 0;
  }
  .category-content {
      position: relative;
      text-align: center;
      width: 100%;      
      
      font-size: 3rem;
      line-height: 4rem;
      span:before,
      span:after {
          height: .4rem;
      }
  }
}
@include mobile{
  .category{
    height: 60vh;
  }
  .category-content {     
    font-size: 2rem;
    line-height:2.6rem;
    span:before,
    span:after {
        height: .2rem;
    }
  }
}



.is-offset-1 {
  margin-left: 8.33333% !important;
}

.is-offset-1-inverse{
  margin-right: 8.33333% !important;
}




