// Work Item
.work-spacer {
  @include desktop {
    height: 100px;
  }
}

.shoot {
  padding: 0 1.8rem;
  @include desktop {
    margin-top: 100px;
  }
}

.shoot-box {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in-wrapper {
  transition: ease 0.4s;
  background-color: transparent !important;
}

.fade-in-photo {
  opacity: 1 !important;
  transition: ease 0.4s;
}

.shoot-photo-wrapper {
  //background-color: $color-1;
  transition: ease 0.4s;
}

.shoot-photo {
  max-width: 100%;
  max-height: 80vh;
  opacity: 0;
  transition: ease 0.4s;
  object-fit: cover;
}
