// Work
@include desktop{
    .work {    
        height: calc(100vh - 102px);
        max-height: 1000px; 
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;    
    
        .work-pictures {
            height: 80%;  
           
            @include desktop{
                &.version-0 {
                    flex-direction: row-reverse;
                }
                &.version-1 {
                    flex-direction: row;
                }
            }  
            .col-2{
                .columns{
                    height: 100%;
                    width: 100%;
                    position: relative;
                }
            }
            .work-image-wrapper{
                position: relative;
                width: 100%;
                height: 100%;
                .work-small-picture {
                    position: absolute;
                    object-fit: cover;
                    cursor: pointer;    
                    height: 60%;
                    width: auto;
                    top: 10%;
                }            
                .work-large-picture {
                    cursor: pointer;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    object-fit: cover;
                    @include widescreen{
                        width: 85%;
                        &.version-1{
                            left:4rem;
                        }
                    }
                }
            }
            .work-content {
                position: absolute;
                z-index: 50;
                width: 100%;   
                top: 70%; 
                @include desktop {
                    &.version-0 {
                        text-align: right;
                        right: 4rem;
                    }
                    &.version-1 {
                        text-align: left;
                        left: 2rem;
                    }
                    font-size: 4rem;
                    line-height: 5rem;
                    span:before,
                    span:after {
                        height: .35rem;
                    }
                }
            }
    
        }
    }
}
@include widescreen{
    .work {
      height: calc(100vh - 102px);
      max-height: 1200px;
    }
    .work-content {
      font-size: 5rem;
      line-height: 6rem;
      
    }
  }
@include tablet{
    .work{
        height: 80vh;  
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;       
    }
    .work-content {
        position: relative;
        text-align: center;
        width: 100%;   
        margin-top:1rem !important;        
        
        font-size: 3rem;
        line-height: 6rem;
        span:before,
        span:after {
            height: .4rem;
        }
    }
}
@include mobile{
    .work{
        height: 60vh;
    }
    .work-content {
       
      font-size: 2rem;
      line-height:2.6rem;
      span:before,
      span:after {
          height: .2rem;
      }
    }
}






.no-motion-touch{
    @include tablet{
       transform: translate(0px,0px) !important; 
    }    
}





