
@mixin mobile {
  @media (max-width: 768px) { @content; }
}
@mixin tablet {
  @media (max-width: 1087px) { @content; }
}
@mixin desktop {
  @media (min-width: 1088px) { @content; }
}
@mixin widescreen {
  @media (min-width: 1216px) { @content; }
}