.contact-height {
    height: 86vh;
}

.contact-spacer {
    height: 12vh;
}

.contact-title {
    @include tablet {
        font-size: 3.5rem;
    }
    @include desktop {
        font-size: 5rem;
    }
    font-weight: bold;
    margin-bottom : 0px !important;
}

.contact-text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.contact-row-1 {
    height: 80vh;
    @include mobile {
        height: auto;
        flex-direction: column-reverse;
        height: auto;
    }
}

.contact-row-2 {
    height: 80vh;
    @include mobile {
        height: auto;
    }
    @include tablet {
        height: auto;
    }
    padding:0 3.6rem;
}

.contact-image-wrapper-1 {
    position: relative;
    height: 100%;
    .contact-image {
        height: 80%;
        max-height: 80vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        object-fit: cover;
    }
}

.contact-image-wrapper-2 {
    position: relative;
    height: 100%;
    .contact-image {
        top: 50%;
        height: 40%;
        position: absolute;
        object-fit: cover;
    }
}

.contact-image-wrapper-3 {
    position: relative;
    height: 100%;
    .contact-image {
        height: 80%;
        max-height: 80vh;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        object-fit: cover;
    }
}

.contact-text-wrapper-1 {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    div {
        padding: 3.6rem;
    }
}

.contact-text-wrapper-2 {
    display: flex;
    align-items: center;
    div {
        width: 100%;
    }
    padding:3.6rem;
    @include mobile {
        padding: 0;
    }
}

.contact {
    
    
    .modal-title{
    font-size: 3rem;
        
    }
    .modal-text{
        font-size: 1.5rem;
    }
    
}