.navbar {
  padding: 3rem 4.6rem;
  background-color: transparent;
  .navbar-element {
    font-size: 2rem;
    text-decoration: none;
    padding: 0 .4rem;
    span:before,span:after{
      height: .15rem;
    }      
  }
}




a{
  text-decoration: none;
  color:$color-3;
}


.min-size {
    min-height: 100vh;
}

.footer {
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span:before, span:after{
      height: 1.3px;
    }
}

.footer-title {
    line-height: 3rem;
    font-size: 2rem;
}

.hero-cover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-content {
        .hero-title {
            font-size: 5rem;
        }
    }
}
