.navbar {
    padding: 1.8rem;
    background-color: transparent;
    .navbar-brand {
        display: flex;
        justify-content: space-between;
        .hamburger{
            @include desktop{
                display:none;
            }
        }
    }
    .navbar-element {
        font-size: 1.2rem;
        @include tablet {
            line-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        text-decoration: none;
        padding: 0 .4rem;
        span:before,
        span:after {
            height: .15rem;
        }
    }
}

.hamburger-menu {
    background: white;
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    right:0;
    height: 100%;
    z-index: 9999;
    
    
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
    &.is-active {
        left:0;
    }
    overflow-y: hidden;
    /* Optional but highly reccomended: enables momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch;
    .hamburger-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height: 100%;
        position: relative;
        .hamburger{
            position: absolute;
            right: 1.8rem;
            top: 1.8rem;
        }
        padding: 1.8rem;
    }
    .hamburger-element{
        font-size: 3rem;
        width: 100%;
        span:before, span:after{
            height: .3rem;
        }
    }


}

.container {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: $color-3;
}

button:focus {
    outline: 0;
}

.min-size {
    min-height: 100vh;
}

.footer {
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    @include tablet {
        span:before,
        span:after {
            height: .7px;
        }
        span {
            height: 2px;
        }
        a {
            margin: 0 .3rem;
        }
        flex-direction: column;
    }
    @include desktop {
        span:before,
        span:after {
            height: 1.3px;
        }
        span {
            height: 2px;
        }
        a {
            margin: 0 .5rem;
        }
        flex-direction: row;
    }
}

.footer-title {
    line-height: 3rem;
    font-size: 2rem;
}

.hero-cover {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-content {
        .hero-title {
            font-size: 5rem;
        }
    }
}

.column {
    padding: 0;
}