$hamburger-padding-x                       : 15px;
$hamburger-padding-y                       : 15px;
$hamburger-layer-width                     : 30px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : $color-3;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : .7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;