
/*
 Strike is for text wrapped in span.strike
 and strikes through on hover


 To specify thickness:

      .strike span:before,.strike span:after{
        height: .2rem;
      }   
*/
.strike span {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
.strike span:before , .strike span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 55%;
  background: $color-3;
}
.strike-active span:before , .strike-active span:after {
  width: 100%;
}
.strike span:before {
  left: -2.5px;
}
.strike span:after {
  right: 2.5px;
  background: $color-3;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike-hover span:before{
  background: $color-3;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike-hover span:after{
  background: transparent;
  width: 100%;
  transition: 0s;
}
.strike  span:hover:before {
  background: $color-3;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/*
 Strike is for text wrapped in span.strike
 and strikes through on hover


 To specify thickness:

      .underline span:before,.underline span:after{
        height: .2rem;
      }   
*/
.underline span {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
.underline span:before , .underline span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  background: $color-3;
}
.underline-active span:before , .underline-active span:after {
  width: 100%;
}
.underline span:before {
  left: -2.5px;
}
.underline span:after {
  right: 2.5px;
  background: $color-3;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.underline  span:hover:before {
  background: $color-3;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.underline span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.underline-inverse{
  position: relative;
}

.underline-inverse span{
  position:absolute;
 
  background: $color-3;
  top: 100%;
  left:0;
  right:0;
  animation: ui-out .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.underline-inverse:hover span{
  
  left:100%;
  right:0;
  animation: ui-in .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes ui-in{
  0%{
    left:0;
  }
  100%{
    left:100%;
  }
}
@keyframes ui-out{
  0%{
    right:100%;
  }
  100%{
    right:0%;
  }
}