//@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/bulma.sass';
@font-face {
    font-family: 'SofiaProRegular';
    src: URL('Sofia Pro Regular.ttf') ;
}
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');




$color-0: rgb(157,
141,
241);
$color-1: rgb(173,
168,
182);
$color-2: rgb(148,
251,
171);
$color-3: rgb(30,
21,
42);

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', Helvetica,arial;
    color:$color-3;
    font-weight: bold;
}
@import './breakpoints.scss';



root {
    font-size: 10px;
    overflow-y: auto;
}
@import './hover.scss';
@import './hamburger-settings.scss';
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import'./general.scss';
@import'./about.scss';
@import'./work.scss';
@import'./contact.scss';




.gatsby-image-outer-wrapper{
    height: 100%;
  }