// Work
.work {
    @include desktop {
        margin: 20vh 0;
        height: 80vh;
    }
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.work-pictures {
    height: 70vh;
    position: relative;
    display: flex;
    &.version-0 {
        flex-direction: row-reverse;
    }
    &.version-1 {
        flex-direction: row;
    }
}

.col-1 {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        visibility: hidden;
        content: "";
        width: 0;
    }
    padding: 1rem;
}

.col-2 {
    height: 100%;
    width: 50%;
    @include tablet {
        width: 100%;
    }
    position: relative;
    display: flex;
    flex-direction: column;
}

.version-0 {
    .work-small-picture {
        @include tablet {
            left:0rem;
            top: 0rem;
        }
        @include desktop {
            left: 7rem;
            top: 3rem;
        }
    }
}

.version-1 {
  .work-small-picture {
    @include tablet {
        left: .5rem;
    }
    @include desktop {
        left: 5rem;
        top: 2rem;
    }
}

}
.no-motion-touch{
    @include tablet{
       transform: translate(0px,0px) !important; 
    }
    
}
.work-small-picture {
    position: absolute;
    object-fit: cover;
    cursor: pointer;
    left: 5rem;
    @include tablet {
        width: auto;
        height: 100%;
        
    }
    @include mobile {
        width: auto;
        height: 100%;
    }
    @include desktop {
        width: 80%;
        height: 100%;
    }
}

.work-large-picture {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.work-image-wrapper {
    @include tablet {
        height: 80%;
    }
    @include desktop {
        height: 50%;
    }
    position:relative;
}

.work-content-wrapper {
    position: relative;
    @include tablet {
        height: 20%;
    }
    @include desktop {
        height: 50%;
    }
}

.work-content {
    position: absolute;
    z-index: 50;
    width: 100%;
    @include tablet {
        font-size: 3.5rem;
        span:before,
        span:after {
            height: .35rem;
        }
    }
    @include desktop {
        top: 50%;
        &.version-0 {
            text-align: right;
            right: 2rem;
        }
        &.version-1 {
            text-align: left;
            left: 2rem;
        }
        font-size: 5rem;
        span:before,
        span:after {
            height: .5rem;
        }
    }
}

// Work Category
.work-category {
    height: 92vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.work-category-pictures {
    position: relative;
    @include tablet {
        height: 55vh;
    }
    @include mobile {
        height: 45vh;
    }
    @include desktop {
        height: 70vh;
        display: flex;
        justify-content: center;
    }
}

.work-category-left-picture {
    min-height: 1px;
    position: absolute;
    top: 10%;
    z-index: 51;
    background-color: white;
    object-fit: cover;
    &.portrait {
        left: 10%;
        top: 10%;
    }
    &.landscape {
        left: 0%;
        top: 20%;
    }
}

.work-category-center {
    cursor: pointer;
}

.work-category-center-picture {
    cursor: pointer;
    top: 0%;
    z-index: -1;
    min-height: 1px;
    height: 100%;
    position: relative;
    background-color: white;
    object-fit: cover;
    @include tablet {
        &.portrait {
            top: 5%;
        }
        &.landscape {
            top: 20%;
        }
        position: absolute;
        &.version-0 {
            left: 4%;
        }
        &.version-1 {
            right: 3%;
            top: 4%;
        }
    }
    @include mobile {
        width: auto;
        height: 50vh;
    }
}

.is-offset-1 {
    margin-left: 8.33333% !important;
}

.is-offset-1-mobile {
    @include mobile {
        margin-left: 8.33333% !important;
    }
}

.work-category-right-picture {
    min-height: 1px;
    z-index: 50;
    position: absolute;
    background-color: white;
    object-fit: cover;
    top: 25%;
    @include tablet {
        .version-0 {
            top: 20%;
            right: 0%;
        }
        .version-1 {
            top: 20%;
            left: 0;
        }
    }
}

.work-category-content {
    height: 10vh;
    text-align: center;
    @include tablet {
        font-size: 3.5rem;
        span:before,
        span:after {
            height: .35rem;
        }
    }
    @include desktop {
        font-size: 5rem;
        span:before,
        span:after {
            height: .5rem;
        }
    }
}

// Work Item
.work-spacer {
    height: 6rem;
}

.work-item-box {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in-wrapper {
    transition: ease .7s;
    background-color: transparent !important;
}

.fade-in-photo {
    opacity: 1 !important;
    transition: ease .7s;
}

.work-item-photo-wrapper {
    //background-color: $color-1;    
    transition: ease .7s;
}

.work-item-photo {
    max-width: 100%;
    max-height: 80vh;
    opacity: 0;
    transition: ease .7s;
    object-fit: cover;
}