// Work
.work {
    padding: 10vh 0;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.work-pictures {
    height: 70vh;
}

.work-left-picture {
    height: 40vh;
    width: auto;
    position: absolute;
    top: 25%;
    z-index: 3;
    background-color: white;
    object-fit: cover;
}

.work-center-picture {
    cursor: pointer;
    top: 10%;
    left: 40%;
    z-index: 1;
    height: 70vh;
    width: auto;
    position: absolute;
    background-color: white;
    object-fit: cover;
}

.work-right-picture {
    top: 40%;
    left: 70%;
    height: 30vh;
    width: auto;
    z-index: 2;
    position: absolute;
    background-color: white;
    object-fit: cover;
}

.work-content {
    height: 10vh;
}

// Work Category
.work-category {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    text-align: center;
}

.work-category-pictures {
    position: relative;
    height: 70vh;
    @include desktop {
        display: flex;
        justify-content: center;
    }
}

.work-category-left-picture {
    min-height: 1px;
    position: absolute;
    top: 25%;
    z-index: 51;
    background-color: white;
    object-fit: cover;
    &.portrait {
        left: 10%;
    }
    &.landscape {
        left: 0%;
    }
}

.work-category-center-picture {
    cursor: pointer;
    top: 0%;
    z-index: 40;
    min-height: 1px;
    max-height: 100%;
    position: relative;
    background-color: white;
    object-fit: cover;
    @include tablet {
        &.portrait {
          top: 10%;
        }
        &.landscape {
          top: 20%;
        }
        position: absolute;
        &.version-0 {
            left: 0;
        }
        &.version-1 {
            right: 0;
            top: 14%;
        }
    }
}

.work-category-right-picture {
    min-height: 1px;
    z-index: 50;
    
    position: absolute;
    background-color: white;
    object-fit: cover;
    @include desktop {
        &.portrait {
            top: 20%;
            left: 70%;
        }
        &.landscape {
            top: 40%;
            left: 69%;
        }
    }
    @include tablet {
        &.version-0 {
          top: 45%;
          right: 0%;
        }
        &.version-1 {
          top: 40%;
          left: 0;
        }
    }
}

.work-category-content {
    height: 10vh;
    text-align: center;
}

// Work Item
.work-spacer {
    height: 4rem;
}

.work-item-box {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fade-in-wrapper {
    transition: ease .7s;
    background-color: transparent !important;
}

.fade-in-photo {
    opacity: 1 !important;
    transition: ease .7s;
}

.work-item-photo-wrapper {
    //background-color: $color-1;    
    transition: ease .7s;
}

.work-item-photo {
    max-width: 100%;   
    max-height: 80vh;
    opacity: 0;
    transition: ease .7s;
    object-fit: cover;
}