// Work Item
.work-spacer{
    height:4rem;
}
.work-item-box {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in-wrapper {
    transition: ease .7s;
    background-color: transparent !important;
}

.fade-in-photo {
    opacity: 1 !important;
    transition: ease .7s;
}

.work-item-photo-wrapper {
    background-color: $color-1;
    height: 65vh;
    transition: ease .7s;
}

.work-item-photo {
    max-width: 100%;
    height: 65vh;
    opacity: 0;
    transition: ease .7s;
}

// Work
.work {
    padding: 10vh 0;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.work-pictures{
  height: 70vh;
}

.left-picture {
    height: 40vh;
    width: auto;
    position: absolute;
    top: 25%;
    background-color: white;
    object-fit: cover;
}

.center-picture {
    top: 10%;
    left: 40%;
    z-index: -1;
    height: 70vh;
    width: auto;
    position: absolute;
    background-color: white;
    object-fit: cover;
}

.right-picture {
    height: 30vh;
    width: auto;
    top: 40%;
    left: 70%;
    position: absolute;
    background-color: white;
    object-fit: cover;
}


.work-content{
  height:10vh;
}
.center-content {
    top: 82%;
    position: absolute;
    a {
        width: 100px;
        height: 100%;
        border: 3px solid black;
    }
    a:hover {
        color: green;
        cursor: crosshair;
    }
}